@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --main-bg-color: #2A303D;
    --secondary-bg-color: #FFFFFF;
    --third-bg-color: #919D9E;
    --fourth-bg-color: #F58B85;
    --input-bg-color: #F1F5F9;
    --input-border-color: #E5E5E5;
    --normal-text-color: #9D9D9D;
    --accent-text-color: #5A5A5A;
    --btn-delete-color: #DC143C;
    --sm-margin: 1em;
    --md-margin: 2em;
    --lg-margin: 3em;
    --sm-padding: 1em;
    --md-padding: 2em;
    --lg-padding: 3em;
    --sm-radius: 8px;
    --md-radius: 12px;
    --lg-radius: 20px;
    --xl-radius: 36px;
    --rounded-radius: 50%;
    --sm-font-size: 10px;
    --md-font-size: 12px;
    --lg-font-size: 14px;
    --xl-font-size: 16px;
    --2xl-font-size: 18px;
    --sm-border-thickness: 1px;
    --md-border-thickness: 2px;
    --lg-border-thickness: 3px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    max-width: 1920px;
   /* background-color: var(--main-bg-color);*/
    background: linear-gradient(216.87deg, #2A303D 21.43%, rgba(42, 48, 61, 0.2) 181.09%);
}

/******* HEADER ********/

header {
    width: 100%;
    border-radius: 0 0 var(--md-radius) var(--md-radius);
    background-color: var(--secondary-bg-color);
    z-index: 1;
}

header .container {
    max-width: 250px;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container > span {
    display: none;
}

header .container ul {
    display: flex;
}

header .container ul li {
    cursor: pointer;
}

header .container ul li a i {
    color:var(--main-bg-color);
}

header .container ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    margin: 0 30px;
    color: var(--main-bg-color);
}

header .container ul li a span {
    display: none;
}

header .container button {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: var(--md-radius);
    background-color: var(--fourth-bg-color);
    border: none;
}

header .container button span {
    display: none;
    font-size: 1.2em;
    color: var(--secondary-bg-color);
    margin: 0 10px;
}

header .container button img {
    margin: 0 10px;
}

@media (min-width: 480px) {
    header .container {
        max-width: 400px;
    }

    header .container > span {
        display: block;
    }
    header .container ul li {
        margin: 0 10px;
        padding: 5px;
    }
}

@media (min-width: 770px) {
    header .container {
        max-width: 720px;
    }

    header .container ul li:hover {
        background-color: var(--main-bg-color);
        border-radius: var(--lg-radius);
    }

    header .container ul li:hover i {
        color:var(--secondary-bg-color);
    }

    header .container ul li:hover span {
        color:var(--secondary-bg-color);
    }



    header .container ul li i {
        margin:20px;
    }

    header .container button span {
        display: block;
    }

    header .container ul li a span {
        display: block;
    }
}

@media (min-width: 1025px) {
    header .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    header .container {
        max-width: 1100px;
    }
}


/*********************************/



.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--third-bg-color);
    outline: 0;
    font-size: 1rem;
    color: var(--main-bg-color);
    padding: 7px 0;
    background: transparent;
  /*  transition: border-color 0.2s;*/
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
}


.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--third-bg-color);
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

@media (min-width: 700px) {

    .form__group {
        width: 100%;
    }
}


